.analysis_main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.analysis_data{
    display: flex;
    flex-direction: row;
}

.analysis_pic{
    display: inline-block;
}