


.home_main{
    height: 100vh;
    overflow: hidden;
}

.home_wrapper{
    max-width: 80rem;
    margin: 0 auto;
    color:  #fff;
    height: 100%;
    align-content: center;
    padding: 0rem 0.2rem 2rem 0rem;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    h1{
    font-size: 6vh;
    }

}

.home-btn{
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    color: #fff;;    
    font-size: 1rem;
    // background: none;
    cursor: pointer;
    border: 2px solid greenyellow;
    background:none;
    // max-height: 2rem;
    transition: ease 0.5s;
}
.home-btn:hover{
    color: #000;
    
    border: 2px solid greenyellow;
    background: greenyellow;
}


// @media