.navbar_main{

    border-bottom: 3px solid rgb(230, 230, 230);
    position: fixed;
    width: 100%;
    z-index: 5;
    // height: 4rem;
    // background-color: black;

    .navbar_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
        // background-color: red;   
        max-width: 80rem;
        margin: 0 auto;

}
}


.nav_color{
    background-color: rgb(0, 129, 133);
}

.navbar_left{
    display: flex;
    align-items:end;
    gap:  1rem;
    color: white;
    span{
        font-size: 2rem;
        font-weight: bolder;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    img{
        height: 4.5rem;
    }
}
.navbar_right{
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    ul{
        display: flex;
        gap: 4rem;
    }
    li{
        cursor: pointer;
        list-style: none;
        
    }
}
.nav_link{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.hamburger{
    display: none;
}

@media (max-width:1024px) {
    .navbar_right{
         position: relative;
         ul {
             position: absolute;
             transform: translateX(150%);
                // right: -20px;
                right: 0;
                // translate: ;
                top: 50px;
                height:100vh;
                display: flex;
                // justify-content: center;
                flex-direction: column;
                padding: 5rem 5rem;
                background-color: rgb(0, 129, 133);
                gap: 4rem;
                transition: all 0.5s ;
                border-top: 2px solid white;
            }
        
       
    }

    .nav_display{
        ul{

            transform: translateX(30%);
        }
    }
    .hamburger{
        display: block;
        img{
            width: 27px;
            height: 27px;
        }
    }
}